/* index.ejs */
:root{
    --light-orange:#A26C4D;
    --beige:#CBD0B9;
    --light-gray:#797979;
    --dark-gray:#333333;
}

@font-face {
    font-family: "Aesthetic";
    src: url("../assets/fonts/aesthetic_5/Aesthetic-Regular.ttf") format("truetype");
}

@font-face {
    font-family:"Creato Display" ;
    src: url("../assets/fonts/creato_display/CreatoDisplay-Light.otf") format("opentype") ;
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: "Creato Display";
    src: url("../assets/fonts/creato_display/CreatoDisplay-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
}


form{
    display: contents;
}

.actual-data{
    display: none;
    visibility: hidden;
}
body{
    min-height: 100vh;
    margin: 0;
    background-image: url("../assets/images/black-wall-texture.jpg");
    background-color: #333333;
    background-position: center;
    background-size: cover;
}
a{
    color: var(--dark-gray)
}
a:hover{
    color: var(--light-orange);
}

body *{
    font-family: "Creato Display",monospace;
    text-decoration: none;
}

.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


/* date selection */

.date-select{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    z-index: 1;
    
}

.select-button,.submit-button{
    width: 150px;
    height: 40px;
    border: none;
    
    background-color: var(--beige);
    color: var(--dark-gray);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.submit-button{
    border-radius: 10px;
}
.submit-button:hover{
    background-color: var(--light-orange);
    color: var(--beige);
}
.select-button svg{
    transition: all .2s ease-in-out;
}
.select-button svg.active{
    transform: rotate(180deg);
}


.dropdown-menu{
    overflow-y: hidden;
    border-radius:10px;
    transition: all .2s ease-in-out;
    height: 40px;
}

.dropdown-menu.active{
    height: 190px;
}
.select-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 0px;
    width: 150px;
    background-color: var(--beige);
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    scrollbar-color:var(--light-orange) var(--beige) ;
    
    
}
.select-dropdown.active{
    visibility: visible;
    height: 150px;
    opacity: 1;
    
}
.select-dropdown li {
    display: flex;
}

.select-dropdown li input{
    margin: 0;
}
.select-dropdown li label{
    width: 100%;
    margin: 0;
}

.select-dropdown li input{
    appearance: none;
}

.select-dropdown li:hover,
.select-dropdown input:checked ~ label{
    appearance: none;
    background-color:var(--light-gray);
}

.select-dropdown li:active{
    background-color: #A26C4D;
}

/* navbar */

.navbar{
    background-color: var(--beige);
    width: 70%;
    height: 70px;
    border-radius: 15px;
    margin: 60px 0 70px 0 ;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--dark-gray);
}
.navbar a{
    padding: 0 5px ;
}
.navbar a:hover{
    background-color: var(--light-orange);
    border-radius: 10px;
    
    color: #CBD0B9;
}

h1.site-title{
    font-family: "Aesthetic",monospace;
    color: #A26C4D;
    font-size: 5rem;
    margin: 20px 0 0 0;
    
}

#mars-photo{
    width: 50%;
    position:fixed;
    bottom: -400px;
    right: 25%;
}